---
import Layout from "../layouts/main.layout.astro";
---

<!-- TODO: Check the description content here -->
<Layout title="BeeCo Dev" description="BeeCo Dev is a Software Company.">
  <h1>BeeCo Dev</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quam
    nesciunt deleniti nulla voluptatibus exercitationem ipsam molestiae itaque
    officia rerum repellendus quasi repellat, harum quis libero, ullam animi?
    Porro, quae.
  </p>
</Layout>
