.nav {
  transition: all 0.2s linear;
  font-family: 'Poppins';
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  z-index: 2000;
  padding: max(px, 1vw) 2%;
  background-color: #3a3a3a;

  img {
    // position: absolute;
    // left: 0;
    // top: 40;
  }
}